/* 宫格 */
.site-doc-icon{margin-bottom: 50px; font-size: 0;}
.site-doc-icon li{display: inline-block; vertical-align: middle; width: 127px; line-height: 25px; padding: 20px 0; margin-right: 8px; margin-bottom: -1px; border: 1px solid #e2e2e2; font-size: 14px; text-align: center; color: #666; transition: all .3s; -webkit-transition: all .3s;}
.site-doc-icon li .layui-icon{display: inline-block; font-size: 36px;}
.site-doc-icon li .fontclass{display: none;}
.site-doc-icon li .name{color: #c2c2c2;}
.site-doc-icon li:hover{background-color: #f2f2f2; color: #000;}
.site-doc-icon li{width: 180px;}
.site-doc-icon li .layui-anim{width: 120px; height: 120px; line-height: 120px; margin: 0 auto 10px; text-align: center; background-color: #009688; cursor: pointer; color: #fff; border-radius: 50%;}

ul li{
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.4s linear;
    border:4px rgba(175,175,175,0.8) solid;
    border-radius:20px;
    background-color:rgba(175,175,175,0.3);
    overflow:hidden;
}
ul li:HOVER {
    -webkit-transform: scale(0.95);
}