<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.com.yky.ssm.mapper.AuthorityMapper" >
  <resultMap id="BaseResultMap" type="cn.com.yky.ssm.entity.Authority" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="authority_name" property="authorityName" jdbcType="VARCHAR" />
    <result column="authority_url" property="authorityUrl" jdbcType="VARCHAR" />
    <result column="parent" property="parent" jdbcType="INTEGER" />
    <result column="flag" property="flag" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, authority_name, authority_url, parent, flag
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.com.yky.ssm.entity.Authority" >
    insert into authority (id, authority_name, authority_url, 
      parent, flag)
    values (#{id,jdbcType=INTEGER}, #{authorityName,jdbcType=VARCHAR}, #{authorityUrl,jdbcType=VARCHAR}, 
      #{parent,jdbcType=INTEGER}, #{flag,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.com.yky.ssm.entity.Authority" >
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="authorityName != null" >
        authority_name,
      </if>
      <if test="authorityUrl != null" >
        authority_url,
      </if>
      <if test="parent != null" >
        parent,
      </if>
      <if test="flag != null" >
        flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="authorityName != null" >
        #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityUrl != null" >
        #{authorityUrl,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.com.yky.ssm.entity.Authority" >
    update authority
    <set >
      <if test="authorityName != null" >
        authority_name = #{authorityName,jdbcType=VARCHAR},
      </if>
      <if test="authorityUrl != null" >
        authority_url = #{authorityUrl,jdbcType=VARCHAR},
      </if>
      <if test="parent != null" >
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.com.yky.ssm.entity.Authority" >
    update authority
    set authority_name = #{authorityName,jdbcType=VARCHAR},
      authority_url = #{authorityUrl,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=INTEGER},
      flag = #{flag,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>